# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# Angular cache
.angular/
/.angular/cache

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log
yarn-error.log

# IDEs & System files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
